<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Matching App</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <%- include('components/header.ejs'); %>
    <h1>Home</h1>
    <%- include('components/footer.ejs'); %>

  </body>
  <script src="/js/index.js"></script>
</html>