<footer>
    <nav>
        <ul>
            <li>
                <form method="post" action="/logout">
                    <button type="submit" class="btn btn-success">
                        <i class="fas fa-sign-out-alt"></i>
        	        </button>       
                </form>
            </li>
            <li>
                <i class="fas fa-user"></i>
            </li>
            <li>
                <i class="fas fa-heart"></i>
            </li>
            <li id="goBack">
                <i class="fas fa-arrow-left"></i>
            </li>
        </ul>
    </nav>
</footer>