<form class="zoekBalk" id="zoekBalk" method="get" action="/dashboard">
    <div>
      <input type="text" placeholder="Search on gym, location, etc..." name="search">
      <button type="submit"><i class="fas fa-search"></i></button>
    </div> 
</form> 